# PostgreSQL (Docker)
POSTGRES_DB=userdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123

# Aplicación
DB_HOST=database
DB_PORT=5432
DB_NAME=${POSTGRES_DB}
DB_USERNAME=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
JPA_DDL_AUTO=update